p{
    color: red;
    float: left;
    text-align: center;
    clear: right;
    padding: 5px;
    background-color: aliceblue;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}